html {
  font-family: 'Roboto', sans-serif;
}

body {
  font-size: 13px;
  line-height: 20px;
  margin: 0px;
}

.container{
  /*max-width: 1000px;*/
  /*margin: auto;*/
  /*padding: 40px 30px;*/
}

.menu-link{
  text-decoration: none;
}

.main-region{
  margin-left: 300px;
}